# generated directories
dist
build
/docs

# PyCharms
.idea

# Build-related directories
/.eggs
/circus.egg-info
/dist
/build

#Generated python
*.pyc
*.egg-info

# General backup/temporary files
*~
*.bak

